<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="service-fabric-reliable-collection-backup-parser" value="https://pkgs.dev.azure.com/msazure/One/_packaging/service-fabric-reliable-collection-backup-parser/nuget/v3/index.json" />
  </packageSources>
</configuration>